<script lang="ts">
  import {HtmlConverter} from 'simple-markdown-engine'
  import MarkdownEditor from "$components/MarkdownEditor.svelte";
  import Base from "$components/Base.svelte";
  import { sampleMarkdown } from "$lib/samples";
  export let currentRoute: {};
  export let params: {};
  const htmlConverter = new HtmlConverter()
  let markdownText: string = sampleMarkdown;
  let markDownHTML: string = htmlConverter.parseAndConvert(markdownText);
  $: {
    try {
      const text = htmlConverter.parseAndConvert(markdownText);
      markDownHTML = text;
    } catch (_err) {
      console.log(_err);
    }
  }

</script>

<svelte:head>
  <title>Markdown Processing</title>
</svelte:head>

<Base>
  <div class="flex flex-col md:flex-row w-full gap-4">
    <div class="md:w-1/2">
      <h1>Editor</h1>
      <MarkdownEditor bind:markdownText />
    </div>

    <div class="md-output md:w-1/2 ">
      <h1 class="mb-8">Output</h1>
      <div class="border-2 p-4 rounded">
        {@html markDownHTML}
      </div>
    </div>
  </div>
</Base>
