<script lang="ts">
  import { onMount } from "svelte";
  import type { Page } from "$lib/types";
  import PageDetail from "$components/PageDetail.svelte";
  import MultiPage from "$components/MultiPage.svelte";
  import WordList from "$components/WordList.svelte";
  import { fetchPages, savePage } from "$lib/api";
  import Base from "$components/Base.svelte";
  import { errorAlert, successAlert } from "$lib/stores";

  export let currentRoute: {};
  export let params: {};

  let urlToFetch = "";
  let pages = [];
  let singlePageAnalysis = 1;
  let wordList: Set<string> = new Set();

  onMount(refreshPages);

  async function refreshPages() {
    pages = await fetchSavedPages();
  }

  async function fetchSavedPages(): Promise<Page[]> {
    const [pagesResponse, errorMessage] = await fetchPages();
    if (errorMessage) {
      errorAlert.show(errorMessage);
      return [];
    } else {
      return pagesResponse;
    }
  }

  async function fetchUrl(e: { target: any }) {
    const form = e.target;
    const data = Object.fromEntries(new FormData(form)) as any;
    const { 1: saveError } = await savePage(data);
    if (saveError) {
      errorAlert.show(saveError);
      return;
    }
    form.reset();
    successAlert.show(
      `Successfully fetched and saved the page at URL: "${data.url}"`
    );
    await refreshPages();
  }
</script>

<svelte:head>
  <title>Word Occurrence Counts</title>
</svelte:head>
<Base>
  <div class="flex flex-col md:flex-row gap-4 text-xl mb-4">
    <div class="md:w-1/2 flex flex-col gap-2">
      <form class="flex flex-col" on:submit|preventDefault={fetchUrl}>
        <label for="url"> Download and cache a page by its URL </label>
        <input
          type="text"
          placeholder="https://example.com"
          name="url"
          class="text-input"
          bind:value={urlToFetch}
        />
        <button type="submit" class="border">Save Page</button>
      </form>
      <p>How many pages do you want to analyse?</p>
      <p>
        <label>
          <input
            type="radio"
            name="view-type"
            bind:group={singlePageAnalysis}
            value={1}
          />
          One
        </label>
        <label>
          <input
            type="radio"
            name="view-type"
            bind:group={singlePageAnalysis}
            value={0}
          />
          Many
        </label>
      </p>
    </div>

    <div class="md:w-1/2">
      <WordList bind:wordList />
    </div>
  </div>

  {#if singlePageAnalysis}
    <PageDetail
      {pages}
      {wordList}
      on:success={successAlert.showHandler}
      on:error={errorAlert.showHandler}
    />
  {:else}
    <MultiPage
      {pages}
      {wordList}
      on:success={successAlert.showHandler}
      on:error={errorAlert.showHandler}
    />
  {/if}
</Base>
