<script lang="ts">
  import SuccessAlert from "$components/SuccessAlert.svelte";
  import ErrorAlert from "$components/ErrorAlert.svelte";
</script>

<svelte:head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons&display=swap"
  />
</svelte:head>

<nav
  class="
    w-full flex flex-row justify-between items-center
    fixed h-16 px-4 top-0 z-50
    border-b-2
    bg-white
  "
>
  <ul class="w-full flex flex-row gap-4 list-none">
    <li>
      <a class="text-lg underline" href="/">Markdown Processor</a>
    </li>
    <li>
      <a class="text-lg underline" href="/word-counts">
        Word Count Occurrences
      </a>
    </li>
  </ul>
</nav>

<main class="pt-20 bg-white px-8">
  <SuccessAlert />
  <ErrorAlert />

  <slot />
</main>
