<script lang="ts">
  import EasyMDE from "easymde";
  import "easymde/dist/easymde.min.css";
  import { onMount } from "svelte";

  export let markdownText: string;
  let fileText = "";
  const tabRegex = /\t/g;
  const fourSpace = "    ";

  onMount(() => {
    fileText = markdownText;
  });

  function removeTabs(text: string): string {
    return text.replace(tabRegex, fourSpace);
  }

  const simpleMdeAction = (node: HTMLTextAreaElement, text: string) => {
    const simplemde = new EasyMDE({
      element: node,
    });
    simplemde.codemirror.on("change", function () {
      markdownText = removeTabs(simplemde.value());
    });
    simplemde.value(removeTabs(text));
    return {
      update(newText: string) {
        simplemde.value(removeTabs(newText));
      },
      destroy() {
        simplemde.toTextArea();
      },
    };
  };

  async function overwriteMarkdown(e: Event) {
    const input = e.target as HTMLInputElement;
    const files = input.files;
    if (!files[0]) {
      return;
    }
    markdownText = await files[0].text();
    fileText = markdownText;
  }
</script>

<div class="w-full">
  <input type="file" on:change={overwriteMarkdown} />
  <textarea use:simpleMdeAction={fileText} on:change={console.log} />
</div>
