<script lang="ts">
  import Svelecte from "svelecte";
  import { createEventDispatcher, tick } from "svelte";
  import { fetchPageComparisons } from "$lib/api";
  import type { NumberOption, Page, PageComparisonData } from "./types";
  import WordCountView from "./WordCountView.svelte";

  const dispatch = createEventDispatcher();
  export let wordList: Set<string> = new Set();

  export let pages: Page[] = [];
  const pageMap = pages.reduce((acc, page) => {
    acc[page.page_id] = page;
    return acc;
  }, {} as { [pageId: number]: Page });
  let options: NumberOption[] = pages.map((page) => {
    return {
      label: `${page.url} - version ${page.version}`,
      value: page.page_id,
    };
  });
  let previousFetchedValues = [];
  let value: number[] = [];
  let selection: NumberOption[] = [];
  let pageComparisonData: PageComparisonData = {
    common: [],
    unique: {},
    all_occurrences: [],
  };

  function pageIdsAreDifferent(): boolean {
    if (value.length !== previousFetchedValues.length) {
      return true;
    }
    const sortedCurrentValues = value.slice().sort();
    for (let idx = 0; idx < sortedCurrentValues.length; idx++) {
      if (value[idx] !== previousFetchedValues[idx]) {
        return true;
      }
    }
    return false;
  }

  async function refreshComparison() {
    if (value.length < 2 || !pageIdsAreDifferent()) {
      return;
    }
    const [response, errorMessage] = await fetchPageComparisons(value);
    if (errorMessage) {
      return dispatch("error", {
        message: errorMessage,
      });
    }
    pageComparisonData = response;
    previousFetchedValues = value.slice().sort();
  }
</script>

<form on:submit|preventDefault>
  <label for="page_id" class="text-lg">
    Select at least two pages to see the unique and common words</label
  >
  <Svelecte
    {options}
    bind:readSelection={selection}
    bind:value
    multiple
    placeholder="Select Pages (min 2)"
    on:change={refreshComparison}
  />
</form>

{#if previousFetchedValues.length}
  <h2 class="text-2xl">Common Words To All</h2>
  <div class="flex flex-col items-center">
    <table class="table-auto w-4/5">
      <thead>
        <tr class="border-b">
          <th> Word </th>
          {#each previousFetchedValues as id (id)}
            <th>
              {pageMap[id].url}
              <br />
              version {pageMap[id].version}
            </th>
          {/each}
        </tr>
      </thead>
      <tbody id="word-counts-list" class="text-center">
        {#if previousFetchedValues.length > 0}
          {#each pageComparisonData.common[previousFetchedValues[0]] as firstCommon, idx (firstCommon.text)}
            <tr>
              <td>{firstCommon.text}</td>
              {#each previousFetchedValues as id (id)}
                <td>{pageComparisonData.common[id][idx].count}</td>
              {/each}
            </tr>
          {/each}
        {/if}
      </tbody>
    </table>
  </div>

  <h2 class="text-2xl">Unique Words</h2>
  {#each previousFetchedValues as id (id)}
    <WordCountView
      viewId={pageMap[id].url + pageMap[id].version}
      page={pageMap[id]}
      wordOccurrenceCounts={pageComparisonData.unique[id]}
      {wordList}
    />
  {/each}
{/if}
