<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import Svelecte from "svelecte";
  import type { Page, WordCount } from "$lib/types";
  import WordCountView from "./WordCountView.svelte";
  import { fetchWordCounts } from "$lib/api";

  export let pages: Page[] = [];
  export let wordList: Set<string> = new Set();
  let currentPage: Page;
  $: pageOptions = pages.map((page) => {
    return {
      label: `${page.url} - version ${page.version}`,
      value: page.page_id,
    };
  });

  const dispatch = createEventDispatcher();

  let wordCountOccurrences: WordCount[] = [];
  let value: string;

  async function fetchWordCountsForPage(_e: Event) {
    if (value == "") {
      wordCountOccurrences = [];
      return;
    }
    const [response, errorMessage] = await fetchWordCounts(value);
    if (errorMessage) {
      dispatch("error", {
        message: errorMessage,
      });
      return;
    }
    wordCountOccurrences = response;
    currentPage = pages.find((p) => p.page_id === +value);
  }
</script>

<form on:submit|preventDefault>
  <label for="page_id" class="text-lg">
    Select a page to the number of occurrences of each word in it</label
  >
  <Svelecte
    options={pageOptions}
    bind:value
    placeholder="Select page"
    on:change={fetchWordCountsForPage}
  />
</form>
<WordCountView
  viewId="root"
  page={currentPage}
  wordOccurrenceCounts={wordCountOccurrences}
  {wordList}
/>
