<script lang="ts">
  import WordCloud from "svelte-d3-cloud";
  import Icon from "svelte-icon";
  import checkMark from "./img/check-svgrepo-com.svg";
  import errorMark from "./img/error-svgrepo-com.svg";
  import tooltip from "./tooltip";
  import type { Page, WordCount } from "./types";
  export let viewId: string;
  const viewName = "word-count-view-" + viewId;
  export let page: Page;
  export let wordOccurrenceCounts: WordCount[] = [];
  export let wordList: Set<string> = new Set();
  let textView = 1;
  let tooltipVisible = false;
  let tooltipContent = "Test";
  let tooltipTarget: Element = null;

  $: if (textView) {
    hideTooltip(null);
  }

  type WordCloudEventDetail = {
    target: Element & {
      __data__: WordCount;
    };
  };

  function showTooltip(e: CustomEvent<WordCloudEventDetail>) {
    tooltipVisible = true;
    const data = e.detail.target.__data__;
    tooltipContent = `${data.text}: ${data.count}`;
    tooltipTarget = e.detail.target;
  }

  function hideTooltip(_e: CustomEvent<WordCloudEventDetail>) {
    tooltipVisible = false;
    tooltipContent = "";
    tooltipTarget = null;
  }
</script>

<div class="mt-4 flex flex-col items-center">
  {#if tooltipVisible}
    <div
      use:tooltip={{
        followCursor: true,
        content: tooltipContent,
        triggerTarget: tooltipTarget,
      }}
    />
  {/if}
  {#if wordOccurrenceCounts.length}
    {#if page}
      <h3 class="text-xl mb-4">
        Page: {page.url} - version {page.version}
      </h3>
    {/if}
    <div class="text-lg">
      View as:
      <label>
        <input type="radio" name={viewName} bind:group={textView} value={1} />
        List
      </label>
      <label>
        <input type="radio" name={viewName} bind:group={textView} value={0} />
        WordCloud
      </label>
    </div>
    {#if textView}
      <table class="table-auto w-4/5">
        <thead>
          <tr class="border-b">
            <th> Word </th>
            <th>Occurrences</th>
            {#if wordList.size > 0}
              <th>In Word List</th>
            {/if}
          </tr>
        </thead>
        <tbody id="word-counts-list" class="text-center">
          {#each wordOccurrenceCounts as occurrence (occurrence.text)}
            <tr>
              <td>{occurrence.text}</td>
              <td>{occurrence.count}</td>
              {#if wordList.size > 0}
                {#if wordList.has(occurrence.text)}
                  <td class="text-green-500 inline-block"><Icon data={checkMark} /></td>
                {:else}
                  <td class="text-red-500 inline-block"><Icon data={errorMark} /></td>
                {/if}
              {/if}
            </tr>
          {/each}
        </tbody>
      </table>
    {:else}
      <WordCloud
        words={wordOccurrenceCounts}
        on:mouseover={showTooltip}
        on:mouseout={hideTooltip}
      />
    {/if}
  {/if}
</div>
