<script lang="ts">
  import Svelecte from "svelecte";
  import { tick } from "svelte";
  import type { SvelecteOption } from "./types";

  export let wordList: Set<string> = new Set();
  let values: string[];
  let options: SvelecteOption<string>[];
  let selection = [];

  const onFileSelected = async (e: Event) => {
    const input = e.target as HTMLInputElement;
    const file = input.files[0];
    if (!file) {
      return;
    }
    const text = await file.text();
    wordList = new Set(parseWordListText(text));
    const newValues = [...wordList];
    options = [...wordList].map(labelToOption);
    await tick();
    values = newValues;
  };

  const onCreateOption = (
    e: CustomEvent<SvelecteOption<string> & { $created: boolean }>
  ) => {
    const option = e.detail;
    if (option.$created) {
      wordList.add(option.value);
      wordList = new Set(wordList)
    }
  };

  function labelToOption(label: string): SvelecteOption<string> {
    return { label, value: label };
  }

  function parseWordListText(text: string): string[] {
    return text
      .trim()
      .split("\n")
      .flatMap((untrimmedLine) => {
        let line = untrimmedLine.trim();
        if (line == "") {
          return [];
        } else {
          return [line];
        }
      });
  }
</script>

<div class="flex flex-col">
  <label for="word-list-file"> Set word list </label>
  <input type="file" name="word-list-file" on:change={onFileSelected} />
  <Svelecte
    {options}
    creatable
    keepCreated
    clearable
    multiple
    bind:readSelection={selection}
    bind:value={values}
    on:createoption={onCreateOption}
    placeholder="Edit word list"
  />
</div>
