@tailwind base;
@layer base {
  body {
    font-family: Roboto, sans-serif;
  }

  blockquote {
    @apply py-2 m-4 border-l-2 border-green-400 pl-4 bg-slate-50 rounded;
  }

  code {
    @apply bg-slate-100;
  }

  pre {
    @apply bg-slate-100 pb-4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }

  ol,
  ul {
    @apply ml-4 pl-4;
  }
  ol {
    @apply list-decimal;
  }
  ul {
    @apply list-disc;
  }
}

@tailwind components;

@tailwind utilities;


.text-input {
  @apply outline-none border-b border-black my-2;
}
